# .env (DO NOT COMMIT)
FB_USERNAME=testuser@example.com
FB_PASSWORD=supersecretpassword
CHROME_PROFILE_PATH=~/Library/Application Support/Google/Chrome/

BLACK_LIST=ở ghép, tìm bạn, đã có phòng
LIMIT_GROUP_COUNT=3

# Seeking for post tìm phòng

# Seeking for rooms
ZALO_GROUP_URLS=xxx

# Centralize messages
TELEGRAM_BOT_TOKEN=cccc
TELEGRAM_CHAT_ID=2637726

LOOP_PER=0
